:root {
    --guindo: #ab0033;
    --cafe: #bc955c;
    --cafe-claro: #ddc9a3;
    --gris: #54565a;
}

#cont-pag {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}
/*
#cont-pag h6.titulo-1 {
	background-color: rgba(0, 100, 167,.9);
	color: #333;
}*/

#cont-pag button {
	text-transform: uppercase;
}

#cont-pag #boleta {
	background-image: url('../img/logo-usjt.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 200px;
}

#cont-pag #boleta .row {
	height: 85%;
}

.table-periodo {
	background-color: var(--cafe);
	color: #333;
	font-weight:lighter;
}

.table-boleta {
	color: #333;
	font-weight:lighter;
}

.table-periodo .thead-periodo, .table-boleta .thead-boleta {
	background-color: var(--cafe);
	color: #f2f2f2;	
}

.table-periodo .tbody-periodo, .table-boleta .tbody-boleta {
	background-color: #f2f2f2;
}

.table-boleta .thead-boleta #titulo-table-boleta {
	background-color: var(--cafe)!important;
	
}

.table-boleta .thead-boleta #titulo-table-boleta h6.titulo-2 {
	color: #f2f2f2;
	font-weight:bold;
}

.table-periodo .tbody-periodo a.periodo {
	text-decoration: none;
	color: #333;
	height: 40px;
	width: 100%;
	padding: 12px;
}

.table-periodo .tbody-periodo td:hover {
	background-color: #e9ecef;
}

.table-periodo .tbody-periodo td{
	height: 100%;
	width: 100%;
	padding: 0;
}

/* Boton */

.btn-primary {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--cafe-claro);
    border-color: var(--cafe-claro);
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
	box-shadow: 0 0 0 0.2rem rgb(221 201 163 / 80%);
}