.fondo-general {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
}

.fondo-general .recuperarPassword {
    background-color: #0064a7;
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#form-recpass .verPassword {
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
	border: solid 1px #d4d4d4;
    border-left: 0px;
	color: #0064a7;
	cursor: pointer;
    outline: none;
}

#form-recpass .verPassword:active {
	border: solid 1px #d4d4d4;
    border-left: 0px;
}

#form-recpass .verPassword:focus {
	outline: none;
}

#form-recpass #Pass, #PassConfirm {
    border-right: 0px;
}

#form-recpass .title-input {
	font-family: sans-serif;
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#form-recpass .validate-btn-danger {
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
    border: solid 1px #dc3545;
    border-left: 0px;
    color: #dc3545;
    cursor: pointer;
    outline: none;
}

#form-recpass .validate-btn-success {
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
    border: solid 1px #28a745;
    border-left: 0px;
    color: #28a745;
    cursor: pointer;
    outline: none;
}

#form-recpass .validate-btn-danger:active {
	border: solid 1px #dc3545;
    border-left: 0px;
}

#form-recpass .validate-btn-success:active {
	border: solid 1px #28a745;
    border-left: 0px;
}