:root {
    --guindo: #ab0033;
    --cafe: #bc955c;
    --cafe-claro: #ddc9a3;
    --gris: #54565a;
}

.fondoGeneral, #form-reguser.fondoGeneral {
	background-color: #fff;
	width: 60%;
	height: auto;
	border-radius: 10px;
	padding: 30px;
}

#form-searchuser .registrarUsuario, #form-reguser .registrarUsuario {
	background-color: var(--cafe);
    border-radius: 10px;
    color: #f2f2f2;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

#form-reguser .label-titles {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
}

#form-reguser .label-text {
    font-size: 12px;
    text-transform: uppercase;
}

.custom-select {
    font-size: 12px;
    text-transform: uppercase;
}

.custom-select:focus {
    background-color: #fff;
    border-color: var(--cafe);
    box-shadow: 0 0 0 0.16rem rgb(188 149 92 / 30%) !important;
}

.form-control {
    font-size: 12px;
    text-transform: uppercase;
}

.form-control:focus {
    background-color: #fff;
    border-color: var(--cafe);
    box-shadow: 0 0 0 0.16rem rgb(188 149 92 / 30%) !important;
}

#form-reguser #Usuario, #form-reguser #Password {
    text-transform: none !important;
}

/* ver password */
#form-reguser .verPassword {
	background-color: #fff;
	border: 1px solid #ced4da;
    border-radius: 0px 0.25rem 0.25rem 0px;
    border-left: solid 0px;
    outline: none;
	color: var(--cafe);
	cursor: pointer;
}

#form-reguser .verPassword:active {
    border: 1px solid #ced4da;
	border-left: 0px;
}

#form-reguser .verPassword:focus {
	outline: none;
}

#form-reguser #Password {
    border-right: 0px !important;
}

/*Botones*/

/*.btn-primary {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
}

.btn-primary:hover {
    color: #fff;
    border-color: var(--gris);
    background-color: var(--gris);
}*/

.btn {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.btn-brown {
    background-color: var(--cafe);
    border-color: var(--cafe);
	color: #f2f2f2;
}

.btn-brown:hover {
    background-color: var(--cafe-claro);
    border-color: var(--cafe-claro);
	color: var(--gris);
}

.btn-brown:active {
    background-color: var(--cafe-claro);
    border-color: var(--gris);
	box-shadow: 0 0 0 0.2rem rgb(221 201 163 / 80%);
	color: var(--gris);
}

.btn-brown:focus {
    background-color: var(--cafe-claro);
    border-color: var(--gris);
	box-shadow: 0 0 0 0.2rem rgb(221 201 163 / 80%);
	color: var(--gris);
}