:root {
    --guindo: #ab0033;
    --cafe: #bc955c;
    --cafe-claro: #ddc9a3;
    --gris: #54565a;
}

#contenido {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

.fondo-general {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
}

.msj-general {
    background-color: var(--cafe);
    border-radius: 10px;
    color: #f2f2f2;
	font-family: sans-serif;
	font-size: 16px;
	text-transform: uppercase;
	font-weight: bold;
}

.form-cambio-password {
	font-family: sans-serif;
	font-size: 12px;
	color: #161616;
	text-transform: uppercase;
	font-weight: bold;
}

.form-cambio-password #user-name, .form-cambio-password #password, .form-cambio-password #password-confirm {
	color: #161616;
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
}

.form-cambio-password #user-name {
	border: solid 1px #ced4da;
	text-transform: uppercase;
}

.form-cambio-password .border-input {
	border: solid 1px #ced4da;
	border-radius: 5px 0px 0px 5px;
	border-right: 0px;
}

.form-cambio-password #btn-continuar {
	font-family: sans-serif;
	font-size: 12px;
	color: #fcfcfc;
	text-transform: uppercase;
	font-weight: bold;
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #ced4da;
    outline: 0;
    box-shadow: none;
}

/* ver password*/

.verPassword {
	background-color: #fff;
	border: solid 1px #ced4da;
	border-radius: 0px 5px 5px 0px;
	border-left: 0px;
	color: var(--cafe);
	font-size: 12px;
	height: 32px;
	outline: none;
}

.verPassword:active {
	border: solid 1px #ced4da;
	border-left: 0px;
}

.verPassword:focus {
	outline: none;
}

/* Boton */

.btn-primary {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--cafe-claro);
    border-color: var(--cafe-claro);
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
	box-shadow: 0 0 0 0.2rem rgb(221 201 163 / 80%);
}