:root {
    --guindo: #ab0033;
    --cafe: #bc955c;
    --cafe-claro: #ddc9a3;
    --gris: #54565a;
}

.fondoGeneral, #form-reguser.fondoGeneral {
	background-color: #fff;
	width: 60%;
	height: auto;
	border-radius: 10px;
	padding: 30px;
}

#form-reguser .label-titles {
	font-family: sans-serif;
	font-size: 14px;
	font-weight: bold;
    text-transform: uppercase;
}

#form-reguser .registrarUsuario {
	background-color: var(--cafe);
    border-radius: 10px;
    color: #f2f2f2;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}

/* ver password */
#form-reguser .verPassword {
	background-color: #fff;
	border: 1px solid #ced4da;
    border-radius: 0px 0.25rem 0.25rem 0px;
    border-left: solid 0px;
    outline: none;
	color: var(--cafe);
	cursor: pointer;
}

#form-reguser .verPassword:active {
    border: 1px solid #ced4da;
	border-left: 0px;
}

#form-reguser .verPassword:focus {
	outline: none;
}

#form-reguser #Password {
    border-right: 0px !important;
}

#form-reguser .form-control:focus {
    box-shadow: none;
}

/*Botones*/

.btn-primary {
    color: #fff;
    background-color: var(--cafe);
    border-color: var(--cafe);
}

.btn-primary:hover {
    color: #fff;
    border-color: var(--gris);
    background-color: var(--gris);
}