:root {
    --guindo: #ab0033;
    --cafe: #bc955c;
    --cafe-claro: #ddc9a3;
    --gris: #54565a;
}

.fondo-general {
	width: 100%;
	height: 100%;
	background-color: #fff;
	border-radius: 10px;
}

.fondo-general .recuperarPassword {
    background-color: var(--cafe);
    border-radius: 10px;
    color: #f2f2f2;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
}

#form-recpass .custom-control-input:focus {
    background-color: #fff;
    border-color: var(--cafe);
    box-shadow: 0 0 0 0.16rem rgb(188 149 92 / 30%) !important;
}

#form-recpass .custom-select:focus {
    background-color: #fff;
    border-color: var(--cafe);
    box-shadow: 0 0 0 0.16rem rgb(188 149 92 / 30%) !important;
}

#form-recpass .form-control:focus {
    background-color: #fff;
    border-color: var(--cafe);
    box-shadow: 0 0 0 0.16rem rgb(188 149 92 / 30%) !important;
}

#form-recpass .verPassword {
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
	border: solid 1px #d4d4d4;
    border-left: 0px;
	color: var(--cafe);
	cursor: pointer;
    outline: none;
}

#form-recpass .verPassword:active {
	border: solid 1px #d4d4d4;
    border-left: 0px;
}

#form-recpass .verPassword:focus {
	outline: none;
}

#form-recpass #Pass, #PassConfirm {
    border-right: 0px;
}

#form-recpass .title-input {
	font-family: sans-serif;
	font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}


/*Botones*/

.btn {
	font-family: sans-serif;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}

.btn-brown {
    background-color: var(--cafe);
    border-color: var(--cafe);
	color: #f2f2f2;
}

.btn-brown:hover {
    background-color: var(--cafe-claro);
    border-color: var(--cafe-claro);
	color: var(--gris);
}

.btn-brown:active {
    background-color: var(--cafe-claro);
    border-color: var(--gris);
	box-shadow: 0 0 0 0.2rem rgb(221 201 163 / 80%);
	color: var(--gris);
}

.btn-brown:focus {
    background-color: var(--cafe-claro);
    border-color: var(--gris);
	box-shadow: 0 0 0 0.2rem rgb(221 201 163 / 80%);
	color: var(--gris);
}
