:root {
    --guindo: #ab0033;
    --cafe: #bc955c;
    --cafe-claro: #ddc9a3;
    --gris: #54565a;
}

body {
    font-family: sans-serif;
    background-color: rgba(186, 186, 186, .8);
}

#logo-tamps img {
    width: 130px;
	height: 110px;
}

#logo-usjt img {
	width: 140px;
	height: 110px;
}

#titulos-sistema {
	font-family: sans-serif;
}

#titulos-sistema h6 {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login {
    padding-top: 2vh;
}

form {
    background: #fff;
}

.btn-primary {
    background-color: var(--gris);
    border-color: var(--gris);
}

.form-container {
    margin-top: 10px;
    border-top: solid 10px var(--guindo);
    border-right: solid 10px var(--guindo);
    border-bottom: solid 40px var(--guindo);
    border-left: solid 10px var(--guindo);
    border-radius: 10px;
    padding: 25px;
}

.form-footer {
    padding-top: 15px;
}

/* ver password */

.status{
    border: solid 3px var(--gris);
    border-radius: 5px;
}

.status:focus{
    border-color: var(--guindo);
    box-shadow: none;
}

.verPassword {
    background-color: #fff;
    border-radius: 0px 5px 5px 0px;
    border-left: 0px !important;
    border: solid 3px var(--gris);
    color: var(--gris);
	cursor: pointer;
    outline: none;
}

.verPassword:active {
    border: solid 3px var(--gris);
}

.verPassword:focus {
	outline: none;
}

#password {
    border-right: 0px !important;
}

.form-control:focus {
    box-shadow: none;
}

.validate-btn-danger {
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
    border: solid 3px #dc3545;
    border-left: 0px;
    color: #dc3545;
    cursor: pointer;
    outline: none;
}

.validate-btn-success {
    background-color: #fff;
    border-radius: 0px 4px 4px 0px;
    border: solid 3px #28a745;
    border-left: 0px;
    color: #28a745;
    cursor: pointer;
    outline: none;
}

.validate-btn-danger:active {
    border: solid 3px #dc3545;
    border-left: 0px;
}

.validate-btn-success:active {
    border: solid 3px #28a745;
    border-left: 0px;
}

.validate-btn-danger:focus {
    outline: none;
}

.validate-btn-success:focus {
    outline: none;
}

.btn-primary:hover {
    color: #fff;
    background-color: var(--guindo);
    border-color: var(--guindo);
}

.btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: var(--gris);
    border-color: var(--gris);
}

.btn-primary:focus {
    color: #fff;
    background-color: var(--guindo);
    border-color: var(--guindo);
    box-shadow: 0 0 0 0.2rem var(--guindo);
}