:root {
    --guindo: #ab0033;
    --cafe: #bc955c;
    --cafe-claro: #ddc9a3;
    --gris: #54565a;
}

body {
    font-family: sans-serif;
    background-color: #f2f2f2;
}

#logo-tamps img {
    width: 130px;
	height: 110px;
}

#logo-usjt img {
	width: 230px;
	height: 110px;
}

#titulos-sistema {
	font-family: sans-serif;
}

#titulos-sistema h6 {
	font-weight: bold;
	font-size: 14px;
	color: #333;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login {
    padding-top: 2vh;
}

/* Formulario */

.form-container {
    background: var(--cafe-claro);
    border-bottom: solid 40px var(--guindo);
    border-left: solid 10px var(--guindo);
    border-right: solid 10px var(--guindo);
    border-top: solid 10px var(--guindo);
    border-radius: 10px;
    font-weight: bold;
    margin-top: 10px;
    padding: 25px;
    text-transform: uppercase;
}

.form-footer {
    padding-top: 15px;
}
.custom-select {
    border: solid 3px var(--gris);
    border-radius: 5px;
}

.custom-select:focus{
    border-color: var(--gris);
    box-shadow: 0 0 0 0.2rem rgb(84 86 90 / 50%);
}

.form-control {
    border: solid 3px var(--gris);
    border-radius: 5px;
}

.form-control:focus {
    border-color: var(--gris);
    box-shadow: 0 0 0 0.2rem rgb(84 86 90 / 50%);
}

#password {
    border-right: 0px !important;
}

/* ver password */

.verPassword {
    background-color: #fff;
    border-radius: 0px 5px 5px 0px;
    border-left: 0px !important;
    border: solid 3px var(--gris);
    color: var(--gris);
	cursor: pointer;
    outline: none;
}

.verPassword:active {
    border: solid 3px var(--gris);
}

.verPassword:focus {
	outline: none;
}

/* btn entrar */

.btn-gris {
    background-color: rgb(84 86 90 / 65%);
    border: solid 3px var(--gris);
    color: #f2f2f2;
    font-weight: bold;
    text-transform: uppercase;
}

.btn-gris:hover {
    background-color: rgb(84 86 90 / 40%); 
    border-color: rgb(84 86 90 / 60%);
    color: #f2f2f2;
}

.btn-gris:not(:disabled):not(.disabled):active {
    background-color: rgb(84 86 90 / 40%);
    border-color: rgb(84 86 90 / 60%);
    color: #f2f2f2;
}

.btn-gris:focus {
    background-color: rgb(84 86 90 / 40%); 
    border-color: rgb(84 86 90 / 60%);
    color: #f2f2f2;
    box-shadow: 0 0 0 0.2rem rgb(84 86 90 / 50%);
}