.modal-content {
	padding: 20px 10px;
}

#contenido-barra, #contenido-cuerpo {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

#contenido-barra #barra {
	background-color: #FFFFFF;
}

#contenido-barra select {
	border: solid 2px #0c5286;
	border-radius: 5px;
	margin-top: -12px;
	margin-bottom: -10px;
	text-transform: uppercase;
}

#contenido-cuerpo #table-subir-cal {
	color: #17202A;
	text-transform: uppercase;
}

#contenido-cuerpo #table-subir-cal .thead-subir-cal {
	background-color: rgba(0, 100, 167,.9);
}

#contenido-cuerpo #table-subir-cal .tbody-subir-cal {
	background-color: #EEEDED;
}

#contenido-cuerpo #table-subir-cal .th-td-mat, #contenido-cuerpo #table-subir-cal .th-td-p1, 
#contenido-cuerpo #table-subir-cal .th-td-p2, #contenido-cuerpo #table-subir-cal .th-td-p3 {
	width: 15%;
} 

#contenido-cuerpo #table-subir-cal .th-td-nom {
	width: 40%;
}

#contenido-cuerpo #table-subir-cal td.th-td-mat, #contenido-cuerpo #table-subir-cal td.th-td-nom{
	padding-top:20px;
}

#contenido-cuerpo #table-subir-cal td.th-td-p1, #contenido-cuerpo #table-subir-cal td.th-td-p2, 
#contenido-cuerpo #table-subir-cal td.th-td-p3 {
	padding: 5px 5px;
}

#contenido-cuerpo #table-subir-cal select {
	border: solid 2px #0c5286;
	border-radius: 5px;
	font-size: 11px;
	text-transform: uppercase;
}

#contenido-cuerpo #table-subir-cal input {
	border: solid 2px #0c5286;
	border-radius: 5px;
}
