#contenido-barra, #contenido-cuerpo {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

#contenido-barra #barra {
	background-color: #FFFFFF;
}

.text-bold {
	font-weight: bold;
}

.text-nobold {
	font-weight: normal;
}

#contenido-barra select {
	border: solid 2px #0c5286;
	border-radius: 5px;
	margin-top: -12px;
	margin-bottom: -10px;
	text-transform: uppercase;
}

#contenido-cuerpo .modal-content {
	padding: 20px 10px;
}

#contenido-cuerpo .modal-content span {
	font-size: 15px;
}
/*
#contenido-cuerpo #result {
	background-image: url('../img/logo-usjt.png');
	background-repeat: no-repeat;
	background-position-x: center;
	background-position-y: center;
	background-size: 200px;
}*/


/* TABLA */


#contenido-cuerpo #table-grupos .thead-grupos {
	background-color: rgba(0, 100, 167,.9);
}

#contenido-cuerpo #table-grupos .tbody-grupos {
	background-color: #EEEDED;
}

#contenido-cuerpo #table-subir-cal {
	color: #333;
	text-transform: uppercase;
}

#contenido-cuerpo #table-subir-cal .thead-subir-cal {
	background-color: rgba(0, 100, 167,.9);
	width: 100%;
	display: table;
}


#contenido-cuerpo #table-subir-cal .tbody-subir-cal {
	background-color: #EEEDED;
	height: 60vh;
	overflow-y: overlay;
	display: block;
	width: 100%;

}

#contenido-cuerpo #table-subir-cal .th-td-mat, #contenido-cuerpo #table-subir-cal .th-td-p1, 
#contenido-cuerpo #table-subir-cal .th-td-p2, #contenido-cuerpo #table-subir-cal .th-td-p3 {
	width: 15%;
} 

#contenido-cuerpo #table-subir-cal .th-td-nom {
	width: 40%;
}

#contenido-cuerpo #table-subir-cal td input, #contenido-cuerpo #table-subir-cal td select {
	border: solid 2px #0c5286;
	border-radius: 5px;
	text-transform: uppercase;
}

.table td {
	vertical-align: middle;
}


.msj{
	font-weight: bold;
	font-size: 15px;
	color: #0064a7;
	line-height: 20px;
}

/* SIDEBAR */

.ciclos {
	font-size: 15px;
	font-weight: bold;
}

.grupos-ciclos {
	background-color: #0064a7;
	height: 40px;
	width: 100%;
	font-family: sans-serif;
	color: #f2f2f2;
	font-weight: bold;
	font-size: 15px;
	line-height: 20px;
	padding-top: 10px;
	
}

.sidebar {
	overflow: overlay;
}

.sidebar .has-submenu .submenu{
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 1rem;
	padding-left: 1rem;
}

.sidebar ul .nav-link {
	color: #333;
}

.sidebar .nav-item .nav-link:hover {
	background-color: #0064a7;
	color: #f2f2f2;
	
}

ul .nav-link.selected {
	background-color: #0064a7;
	color: #f2f2f2;
}






  