#contenido-barra, #contenido-cuerpo {
	font-family: sans-serif;
	text-transform: uppercase;
	font-size: 12px;
}

#contenido-barra #barra {
	background-color: #FFFFFF;
}

.text-bold {
	font-weight: bold !important;
}

.text-nobold {
	font-weight: normal !important;
}

#contenido-cuerpo .modal-content {
	padding: 20px 10px;
}

.modal-content#grupos {
    width: 100%;
}

.modal-content#result {
    width: 100%;
}

.modal-content#result .msj {
    font-weight: bold;
    color: #0064a7;
}


/* SIDEBAR */

.ciclos {
	font-size: 12px;
	font-weight: bold;
}

.grupos-ciclos {
	background-color: #0064a7;
	height: 40px;
	width: 100%;
	font-family: sans-serif;
	color: #f2f2f2;
	font-weight: bold;
	font-size: 12px;
	line-height: 20px;
	padding-top: 10px;
}

.sidebar {
	overflow: overlay;
}

.sidebar .has-submenu .submenu{
    font-size: 12px;
	list-style: none;
	margin: 0;
	padding: 0;
	padding-right: 1rem;
	padding-left: 0.3rem;
}

.sidebar ul .nav-link {
	color: #333;
}

.sidebar .nav-item .nav-link:hover {
	background-color: #0064a7;
	color: #f2f2f2;
	
}

ul .nav-link.selected {
	background-color: #0064a7;
	color: #f2f2f2;
}



/*general*/
/*.col-sm-10 {
    padding-right: 5px;
    padding-left: 5px;
}*/



/* Tabla */

.tableAsistencias-responsive {
    display: block;
    width: 100%;
    height: 100%;
    overflow: overlay;
}

#table-asistencias th, #table-registrar-asistencias th  {
    border: 1px solid #dee2e6;
    background-color: #0064a7;
    color: #f2f2f2;
    text-align: center;
    vertical-align: middle !important;
}

#table-asistencias td, #table-registrar-asistencias td {
    vertical-align: middle !important;
}

#table-asistencias .thDescNomenclatura {
    font-size: 12px;
    text-transform: capitalize;
    text-align: center;
}

#table-asistencias .thDia, #table-asistencias .thNomTotal {
    background-color: #f2f2f2 !important;
    font-size: 12px;
    color: #333 !important;
    text-transform: capitalize;
    text-align: center;
}

#table-asistencias .thMatricula {
    font-size: 12px;
}

#table-asistencias .thNombre {
    font-size: 12px;
    padding-left: 6rem !important;
    padding-right: 6rem !important;
}

#table-asistencias .thNum {
    font-size: 12px;
}

#table-asistencias td .icon-circle {
    font-size: 6px !important;
}

#table-asistencias td .icon-slash {
    transform: rotate(90deg);
}

#table-asistencias .tdNum, #table-asistencias .tdMat, #table-asistencias .tdNombre {
    font-size: 12px !important;
}

#table-asistencias .tdNomenclatura {
    font-size: 12px !important;
    font-weight: 900;
}

#table-asistencias .tdNomTotal {
    font-size: 12px !important;
}




#table-registrar-asistencias {
    text-transform: uppercase;
}

#table-registrar-asistencias label {
    margin-bottom: 0rem;
}

#table-registrar-asistencias .th-num, #table-registrar-asistencias .td-num {
    width: 5%;
}

#table-registrar-asistencias .th-mat, #table-registrar-asistencias .td-mat {
    width: 20%;
}

#table-registrar-asistencias .th-nombre, #table-registrar-asistencias .td-nombre {
    width: 50%;
}

#table-registrar-asistencias .th-nomen, #table-registrar-asistencias .td-nomen {
    width: 25%;
}




#table-informacionGrupo {
    font-size: 12px;
    text-transform: uppercase;
}

#table-informacionGrupo th {
    background-color: #0064a7;
    color: #F2F2F2;
    vertical-align: middle;
    width: 15%;
}

#table-informacionGrupo td {
    background-color: #F2F2F2;
    vertical-align: middle;
    width: 35%;
}


/* boton guardar*/

.align-buttonRegAsis {
    text-align: end;
}

.buttonAsis, .btnSubmit, .btnCloseModal {
    background-color: #007bff;
    border: none;
    border-radius: 10px;
    box-shadow: 0 9px #999;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 12px;
    height: 40px;
    outline: none;
    padding: 10px 20px;
    text-align: center;	
    text-decoration: none;
    text-transform: uppercase;
}

.buttonAsis:hover, .btnSubmit:hover, .btnCloseModal:hover {
    background-color: #0064a7
}

.buttonAsis:focus, .btnSubmit:focus, .btnCloseModal:focus {
    outline: none;
}

.buttonAsis:active, .btnSubmit:active, .btnCloseModal:active {
    background-color: #0064a7;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}



/* MODAL */
.modal {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.2);
}

.modalEditarAsistencias {
    display: none;
}
  
.modalRegistrarAsistencias {
    display: none;
}

.size-icon {
    font-size: 20px;
}

.text-size {
    font-size: 12px !important;
}
  
.bodyModal {
    width: 100%;
    height: 100%;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flex;
    display: -o-inline-flex;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
  
.form-header {
    padding-top: 0px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 30px;
    text-transform: uppercase;
}

.form-header .title {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #0064A7;
    color: #FFFFFF;
    width: 100%;
}
  
.form-body {
    background-color: #FFFFFF;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    font-size: 12px !important;
    padding-top: 35px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom: 35px;
    text-transform: uppercase;
}